<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Group</h4>
                <form [formGroup]="form" class="form-sample" #f="ngForm" (ngSubmit)="createGroup(f.value)">
                    <p class="card-description">
                        Enter Group details
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Group Name</label>
                                <div class="col-sm-9">
                                    <input formControlName="name" type="text" id="regno" class="form-control" />
                                    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                                        Group Name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-description pt-2">
                        Select Students
                    </p>
                    <mat-form-field class="pl-2 pb-2">
                        <input matInput (keyup)="applyFilterStd($event.target.value)" placeholder="Filter Students">
                    </mat-form-field>
                    <table mat-table [dataSource]="dataSourceStd" class="col-md-12">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggleStd() : null"
                                    [checked]="selectionStd.hasValue() && isAllSelectedStd()"
                                    [indeterminate]="selectionStd.hasValue() && !isAllSelectedStd()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selectionStd.toggle(row) : null"
                                    [checked]="selectionStd.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="registration_number">
                            <th mat-header-cell *matHeaderCellDef> Registration Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.registration_number}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef> Department </th>
                            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <i class="fas fa-user-edit p-1 text-success"
                                    (click)="openEdit(editmodal, element.registration_number)" placement="bottom"
                                    ngbTooltip="Edit Student"></i>
                                <i class="fas fa-trash text-danger" (click)="deleteStudent(element.registration_number)"
                                    placement="bottom" ngbTooltip="Delete Student"></i>
                                <i class="fas fa-info-circle p-1 text-primary"
                                    (click)="openDetails(detailsmodal,element.registration_number)" placement="bottom"
                                    ngbTooltip="Edit Student"></i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsStd"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsStd;"></tr>

                    </table>
                    <mat-paginator #stdPage [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                    <p class="card-description pt-2">
                        Select Teachers
                    </p>

                    <mat-form-field>
                        <input matInput (keyup)="applyFilterTea($event.target.value)" placeholder="Filter Teachers">
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSourceTea" class="col-md-12">

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggleTea() : null"
                                    [checked]="selectionTea.hasValue() && isAllSelectedTea()"
                                    [indeterminate]="selectionTea.hasValue() && !isAllSelectedTea()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selectionTea.toggle(row) : null"
                                    [checked]="selectionTea.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="user_id">
                            <th mat-header-cell *matHeaderCellDef> Faculty Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Teacher Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef> Department </th>
                            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <i class="fas fa-user-edit p-1 text-success"
                                    (click)="openEdit(editmodal, element.user_id)" placement="bottom"
                                    ngbTooltip="Edit Teacher"></i>
                                <i class="fas fa-trash text-danger" (click)="deleteTeacher(element.user_id)"
                                    placement="bottom" ngbTooltip="Delete Teacher"></i>
                                <i class="fas fa-info-circle p-1 text-primary"
                                    (click)="openDetails(detailsmodal,element.user_id)" placement="bottom"
                                    ngbTooltip="Teacher Details"></i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTea"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTea;"></tr>

                    </table>
                    <mat-paginator #teaPage [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    <div class="row"></div>
                    <div class="row">
                        <div class="col-md-6 offset-6">
                            <div class="form-group row offset-9">
                                <button [disabled]="!f.valid" type="submit"
                                    class="btn btn-primary btn-rounded btn-fw">Create Group</button>
                            </div>
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>