<div class="container">
    <h3 class=" text-center">{{groupName}}</h3>
    <mat-form-field>
        <input matInput [(ngModel)]="term" placeholder="Search in Chat">
    </mat-form-field>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div class="msg_history" #scroller [scrollTop]="scroller.scrollHeight">
                    <ng-container *ngFor="let message of messages | filter:term ;">
                        <div *ngIf="!(currentUser==message.sender)" class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{message.text}}</p>
                                    <span class="time_date"> {{message.sender}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="currentUser==message.sender" class="outgoing_msg">
                            <div class="row">
                                <span class="offset-6">
                                    <i class="fas fa-trash text-danger" 
                                    placement="bottom" (click)="deleteMessage(message._id)" ngbTooltip="Delete Message"></i>
                                </span>
                                <div class="sent_msg">
                                    <p>{{message.text}}</p>
                                    <span class="time_date"> {{message.sender}} </span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input [(ngModel)]="message" (keydown.enter)="sendMessage()" type="text" class="write_msg" placeholder="Type a message" />
                        <button (click)="sendMessage()" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" class="spinner-wrapper" *ngIf="spinner">
    <div class="row">
        <div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="loading"></div>
        </div>


    </div>
    <p class="spinner-message">
        {{spinnerMessage}}
    </p>
</div>