.mainbg{
    background-image: url("../../assets/mainbg.jpg");
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: cover;
    width: auto;
    height: 100vh;
    color: white;
}