<div class="grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{coursedata.course_name}}</h4>
            <ngb-tabset class="tab-solid tab-solid-primary">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        Assignment
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row">
                            <table mat-table [dataSource]="dataSourceAssignment" class="col-md-12">
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef> No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="marks">
                                    <th mat-header-cell *matHeaderCellDef> Marks </th>
                                    <td mat-cell *matCellDef="let element"> {{element.marks}} </td>
                                </ng-container>

                                <ng-container matColumnDef="topics">
                                    <th mat-header-cell *matHeaderCellDef> Topics </th>
                                    <td mat-cell *matCellDef="let element"> {{element.topics}} </td>
                                </ng-container>

                                <ng-container matColumnDef="due_date">
                                    <th mat-header-cell *matHeaderCellDef> Due Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.due_date}} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let j = index">
                                        <i class="fa fa-cloud-download p-1 text-primary"
                                            (click)="downloadAssignment(element.assignment_id)" placement="bottom"
                                            ngbTooltip="Download Assignment"></i>
                                        <i class="fa fa-cloud-upload text-success"
                                            (click)="openUploadModal(element.assignment_id, j, uploadmodal)"
                                            placement="bottom" ngbTooltip="Upload Assignment"></i>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsAssignment"></tr>
                                <tr class="rowhover" mat-row *matRowDef="let row; columns: displayedColumnsAssignment;">
                                </tr>
                            </table>
                        </div>
                        <div class="modal-lg">
                            <ng-template class="modal-lg" #uploadmodal let-modal>
                                <form [formGroup]="upload" (ngSubmit)="uploadAssignment(upload.value)">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">Assignment Upload</h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body m-3">
                                        <div>
                                            <input formControlName="assignment" (change)="onFileChange($event)" type="file">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success"
                                            type="submit">Upload</button>
                                        <button type="button" class="btn btn-danger"
                                            (click)="modal.close('Save click')">Close</button>
                                    </div>
                                </form>
                            </ng-template>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle>
                        Recommendation
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row">
                            <!-- <table mat-table [dataSource]="dataSourceQuestion" class="col-md-12">
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef> No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                </ng-container>

                                <ng-container matColumnDef="question_text">
                                    <th mat-header-cell *matHeaderCellDef> Question </th>
                                    <td mat-cell *matCellDef="let element"> {{element.question_text}} </td>
                                </ng-container>

                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef> Type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                </ng-container>

                                <ng-container matColumnDef="topic">
                                    <th mat-header-cell *matHeaderCellDef> Topic </th>
                                    <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let j = index">
                                        <i class="fas fa-user-edit p-1 text-success" placement="bottom"
                                            ngbTooltip="Edit Question"></i>
                                        <i class="fas fa-trash text-danger" (click)="deleteQuestion(element._id, j)"
                                            placement="bottom" ngbTooltip="Delete Content"></i>
                                        <i class="fas fa-info-circle p-1 text-primary"
                                            (click)="openDetails(element._id)" placement="bottom"
                                            ngbTooltip="View Details"></i>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsQuestion"></tr>
                                <tr class="rowhover" mat-row *matRowDef="let row; columns: displayedColumnsQuestion;">
                                </tr>
                            </table> -->
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle>
                        Quizzes
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row">
                            <table mat-table [dataSource]="dataSourceQuizzes" class="col-md-12" *ngIf="!showQuestions">
                                <ng-container matColumnDef="quizNo">
                                    <th mat-header-cell *matHeaderCellDef> Quiz No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.quizNo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                </ng-container>

                                <ng-container matColumnDef="time">
                                    <th mat-header-cell *matHeaderCellDef> Time </th>
                                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element">
                                        <i class="fa fa-edit" title="Take quiz" (click)="startQuiz(element)"></i>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsQuizzes"></tr>
                                <tr class="rowhover" mat-row *matRowDef="let row; columns: displayedColumnsQuizzes;"
                                    [ngClass]="row.attempted ? 'quiz-attempted' : 'quiz-missed'">
                                </tr>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>
                
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        Exam
                    </ng-template>
                    <ng-template ngbTabContent>
                        <p>The examination of this course will be held on <b class="text-danger">24-05-2020</b>
                        </p>
                        <div class="row ml-2">
                            <button [routerLink]="['/student/exam']" class="btn btn-primary" type="button">
                                Take Exam
                            </button>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>