<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{courseData.course_name}}</h4>
                <form class="form-sample" [formGroup]="form" (ngSubmit)="updateQuiz(form.value)">
                    <p class="card-description">
                        Update Quiz
                    </p>
                    <div *ngFor="let item of quizData.questions; let i = index">
                        <div *ngIf="step==i+1">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Question:</label>
                                    <div *ngIf="item.question != null && item.question != undefined" class="col-sm-9 pb-1">
                                        <label>{{item.question.question_text}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Marks:</label>
                                    <div class="col-sm-9 pb-1">
                                        <input #m [value]="item.marks" type="number" class="form-control"
                                            placeholder="Enter Marks" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6 offset-6">
                                    <div class="form-group row offset-9">
                                        <button type="button" (click)="toggleMarksStep(item, m.value)"
                                            class="btn btn-primary btn-rounded btn-fw">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="quizData.questions!= null && quizData.questions!= undefined && step==quizData.questions.length+1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Course Code</label>
                                    <div class="col-sm-9 pb-1">
                                        <label>{{courseData.course_code}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Uploaded By</label>
                                    <div class="col-sm-9 pb-1">
                                        <label>{{teacher}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Quiz ID</label>
                                    <div class="col-sm-9 pb-1">
                                        <input type="text" formControlName="quiz_id" class="form-control" />
                                        <div *ngIf="quiz_id.invalid && quiz_id.touched" class="alert alert-danger">
                                            Quiz ID is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Mapping CLO</label>
                                    <div class="col-sm-9">
                                        <mat-checkbox formArrayName="clo" class="pb-1"
                                            *ngFor="let clo of courseData.clos" [checked]="quizData.CLO.includes(clo)"
                                            [value]="clo" (change)="onCloCheck($event)">
                                            {{clo}}
                                        </mat-checkbox>
                                        <div class="alert alert-danger" *ngIf="!clo.controls[0] && clotoggled">
                                            At least one CLO is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Classes</label>
                                    <div class="col-sm-9">
                                        <mat-checkbox formArrayName="class_id" class="pb-1"
                                            *ngFor="let class of courseData.classes"
                                            [checked]="quizData.class_id.includes(class)" [value]="class"
                                            (change)="onClassCheck($event)">
                                            {{class}}
                                        </mat-checkbox>
                                        <div class="alert alert-danger" *ngIf="!class_id.controls[0] && classtoggled">
                                            At least one class is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Unique key:</label>
                                    <div class="col-sm-9 pb-1">
                                        <input type="text" formControlName="key" class="form-control" />
                                        <div *ngIf="key.invalid && key.touched" class="alert alert-danger">
                                            Unique key is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date/Time</label>
                                    <div class="col-sm-9">
                                        <mat-form-field>
                                            <input matInput [ngxMatDatetimePicker]="picker" formControlName="datetime" placeholder="Choose a date"
                                               [min]="minDate" [max]="maxDate" [disabled]="disabled">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <ngx-mat-datetime-picker #picker>
                                            </ngx-mat-datetime-picker>
                                         </mat-form-field>
                                        <div class="alert alert-danger" *ngIf="datetime.invalid && datetime.touched">
                                            Date/Time is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Duration (minutes):</label>
                                    <div class="col-sm-9 pb-1">
                                        <input type="number" formControlName="duration" class="form-control" />
                                        <div *ngIf="duration.invalid && duration.touched" class="alert alert-danger">
                                            Duration is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6 offset-6">
                                <div class="form-group row offset-9">
                                    <button [disabled]="!form.valid" type="submit"
                                        class="btn btn-primary btn-rounded btn-fw">Update Quiz</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container" class="spinner-wrapper" *ngIf="spinner">
    <div class="row">
        <div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="loading"></div>
        </div>


    </div>
    <p class="spinner-message">
        {{message}}
    </p>
</div>